{% load static %}

<header class="site-header">

    <div class="header-wrapper">

        <div class="header-container">

            <a href="/" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="نیوشاپ">
            </a>

            <div class="search-container">
                <div class="search-icon">
                    <img src="{% static 'icons/search.svg' %}" alt="search">
                </div>

                <input type="text" placeholder="جستجو ...">
            </div>


            <div class="header-actions">

                <a href="#" class="header-btn">
                    <img src="{% static 'icons/user.svg' %}">
                    <span>حساب کاربری</span>
                </a>


                <a href="#" class="header-btn cart">

                    <span class="cart-count">
                        0
                    </span>

                    <img src="{% static 'icons/cart.svg' %}">

                    <span>
                        سبد خرید
                    </span>

                </a>


                <button class="theme-btn" id="theme-toggle">

                    <img src="{% static 'icons/moon.svg' %}" id="theme-icon">

                    <span id="theme-text">
                        تاریک
                    </span>

                </button>


            </div>

        </div>
    </div>   

       



</header>