{% load static %}

<div class="mega-menu">
<button class="mega-close" id="mega-close">
    <img src="{% static 'icons/x.svg' %}">
</button>
<h3 class="mega-title">
دسته بندی محصولات
</h3>


<div class="mega-list">


<a class="mega-item mobile">

<img src="{% static 'icons/categories/device-mobile.svg' %}">

<span>
موبایل
</span>

</a>


<a class="mega-item laptop">

<img src="{% static 'icons/categories/device-laptop.svg' %}">

<span>
لپ تاپ
</span>

</a>


<a class="mega-item watch">

<img src="{% static 'icons/categories/device-watch.svg' %}">

<span>
ساعت هوشمند
</span>

</a>


<a class="mega-item monitor">

<img src="{% static 'icons/categories/device-desktop.svg' %}">

<span>
مانیتور
</span>

</a>


<a class="mega-item computer">

<img src="{% static 'icons/categories/brand-windows.svg' %}">

<span>
کامپیوتر
</span>

</a>


<a class="mega-item headphone">

<img src="{% static 'icons/categories/device-airpods.svg' %}">

<span>
هندزفری و هدفون
</span>

</a>


<a class="mega-item accessory">

<img src="{% static 'icons/categories/plug.svg' %}">

<span>
لوازم جانبی
</span>

</a>


<a class="mega-item gadget">

<img src="{% static 'icons/categories/bulb.svg' %}">

<span>
گجت هوشمند
</span>

</a>


<a class="mega-item tool">

<img src="{% static 'icons/categories/tool.svg' %}">

<span>
ابزار آلات
</span>

</a>


<a class="mega-item network">

<img src="{% static 'icons/categories/modem.svg' %}">

<span>
شبکه و ارتباطات
</span>

</a>


<a class="mega-item tablet">

<img src="{% static 'icons/categories/device-tablet.svg' %}">

<span>
تبلت
</span>

</a>


</div>

</div>