{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        نیوشاپ | فروشگاه دیجیتال
        {% endblock %}
    </title>


    <!-- Fonts -->
    <!-- Fonts -->
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">

<!-- Main Style (شامل همه فایل‌ها) -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

    

</head>


<body>


    {% include "includes/header.html" %}
    {% include "includes/mobile_nav.html" %}


    <main>

        {% block content %}

        {% endblock %}

    </main>


    {% include "includes/footer.html" %}

<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>