@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --bg-color: #f5f7fa;
    --card: #ffffff;
    --text-color: #111827;
    --border: #00BFFF;

    --primary: #00BFFF;
    --primary-dark: #0077ff;

}


html.dark {

    --bg-color: #0f172a;
    --card: #111827;
    --text-color: #f8fafc;
    --border: #00BFFF;

}


html {
    scroll-behavior: smooth;
}


body {

    font-family: "Vazirmatn", sans-serif;

    background: var(--bg-color);

    color: var(--text-color);

    direction: rtl;

    transition: .3s;

}


a {

    text-decoration: none;

    color: inherit;

}


button,
input {

    font-family: inherit;

}


img {

    max-width: 100%;

    display: block;

}