/* ==========================
   NEWSHOP HEADER
========================== */

html,
body {
    
    width: 100%;
}


.category-bar {
    position: relative;
    z-index: 100;
}


/* ==========================
   FIXED HEADER
========================== */
.site-header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;

    z-index: 99999;

    background: var(--bg-color);

    padding: 0;

    width: 100%;

    border: none;
}


/* فاصله محتوا از هدر */

.site-header,
.header-container {
    position: relative;
    z-index: 999999;
}

.hero-banner {
    position: relative;
    z-index: 1;
}


/* ==========================
   HEADER CONTAINER
========================== */
.header-container {
    border: none;

    max-width: none;
        width: 100%;
        margin: 0;

    background: var(--card);
    border-bottom: 3px solid #00BFFF;

    border-radius: 0 0 24px 24px;

    padding: 20px 30px;

    display: flex;

    align-items: center;

    gap: 35px;

    box-shadow: 0 10px 35px rgba(0, 0, 0, .08);
}

main {
    padding-top: 90px;
}
/* ==========================
   LOGO
========================== */


.logo {
    flex: 0 0 auto;
}


.logo img {

    width: 170px;

    display: block;

}



/* ==========================
   SEARCH
========================== */


.search-container {

    flex: 1;

    height: 58px;

    position: relative;

    display: flex;

    align-items: center;


    background: var(--card);

    backdrop-filter: blur(15px);


    border-radius: 30px;

    border: 1px solid var(--border);


    box-shadow:
        0 8px 25px rgba(0, 0, 0, .08);

}


.search-container input {

    width: 100%;

    height: 100%;

    border: none;

    outline: none;

    background: transparent;


    padding-right: 65px;

    padding-left: 30px;


    font-family: inherit;

    color: var(--text-color);

}



.search-container input::placeholder {

    color: #00BFFF;

}



.search-icon {

    position: absolute;

    right: 25px;

}



.search-icon img {

    width: 27px;

    height: 27px;


    filter:
        invert(52%) sepia(95%) saturate(1800%) hue-rotate(165deg) brightness(105%) contrast(105%);

}



/* ==========================
   BUTTONS
========================== */


.header-actions {

    display: flex;

    gap: 12px;

}



.header-btn {

    min-width: 130px;

    height: 55px;

    padding: 0 18px;


    border-radius: 18px;


    display: flex;

    align-items: center;

    justify-content: center;


    gap: 10px;


    background: var(--card);


    border: 2px solid #00BFFF;


    color: #00BFFF;


    transition: .3s;

}



.header-btn img {

    width: 25px;

    height: 25px;


    filter:
        invert(52%) sepia(95%) saturate(1800%) hue-rotate(165deg) brightness(105%) contrast(105%);

}



.header-btn:hover {

    background: #00BFFF;

    color: white;

    box-shadow:
        0 0 20px rgba(0, 191, 255, .35);

}



.header-btn:hover img {

    filter: brightness(0) invert(1);

}



.cart {

    position: relative;

}



.cart-count {

    position: absolute;

    top: -8px;

    right: -8px;


    width: 22px;

    height: 22px;


    display: flex;

    align-items: center;

    justify-content: center;


    border-radius: 50%;


    background: #00BFFF;

    color: white;


    font-size: 12px;

}



/* ==========================
   CATEGORY
========================== */


.category-container {

    padding: 18px 30px;

    display: flex;

    align-items: center;

    justify-content: space-between;

}



.category-container a {

    color: var(--text-color);

    font-size: 14px;

}



.category-title {

    font-weight: bold;

    display: flex;

    gap: 10px;

    align-items: center;

}



.category-title img {

    width: 24px;

    height: 24px;


    filter:
        invert(52%) sepia(95%) saturate(1800%) hue-rotate(165deg) brightness(105%) contrast(105%);

}



.special {

    color: #00BFFF !important;

    font-weight: bold;

}



/* ==========================
   THEME BUTTON
========================== */


.theme-btn {

    width: 60px;

    height: 55px;


    border-radius: 20px;


    border: 2px solid #00BFFF;


    background: var(--card);

    color: #00BFFF;


    display: flex;

    flex-direction: column;


    align-items: center;

    justify-content: center;


    gap: 5px;


    cursor: pointer;


    padding: 10px;

}



.theme-btn img {

    width: 26px;

    height: 26px;


    filter:
        invert(52%) sepia(95%) saturate(1800%) hue-rotate(165deg) brightness(105%) contrast(105%);

}



.theme-btn span {

    font-size: 12px;

}



/* ==========================
   HERO BANNER
========================== */


.hero-banner {
    max-width: 1430px;
    width: calc(100% - 40px);
    margin: 30px auto;
    position: relative;

    aspect-ratio: 16 / 8;
}

.banner-link {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 28px;
    border: 1px solid var(--border);
    box-shadow: 0 15px 40px rgba(0, 0, 0, .12);
}


.banner-link picture,
.banner-link img {

    width: 100%;
    height: 100%;
    display: block;

}


.banner-link img {

    object-fit: cover;

}
.category-bar {
    position: relative;
    
}



/* ==========================
   BANNER BUTTONS
========================== */


.banner-btn {

    position: absolute;

    top: 50%;

    transform: translateY(-50%);


    width: 45px;

    height: 45px;


    border-radius: 50%;


    border: none;


    background: rgba(255, 255, 255, .9);


    color: #00BFFF;


    font-size: 25px;


    cursor: pointer;


    z-index: 5;

}



.banner-btn:hover {

    background: #00BFFF;

    color: white;

}



.prev {

    left: 35px;

}



.next {

    right: 35px;

}



/* ==========================
   DOTS
========================== */
/* DOTS */

.banner-dots {
    position: absolute;

    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    align-items: center;

    gap: 10px;

    padding: 8px 14px;

    background: rgba(255, 255, 255, .18);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, .35);

    border-radius: 30px;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, .15);

    z-index: 10;
}


/* DOT */

.banner-dot {

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: rgba(255, 255, 255, .7);

    cursor: pointer;

    transition:
        width .35s ease,
        background .35s ease,
        transform .35s ease,
        box-shadow .35s ease;

}


/* ACTIVE */

.banner-dot.active {

    width: 30px;

    border-radius: 20px;

    background: #00BFFF;

    box-shadow:
        0 0 15px rgba(0, 191, 255, .8);

    transform: scale(1.05);

}


/* ==========================
   MOBILE
========================== */
@media(max-width:768px) {


    .site-header {
        padding: 8px;
    }


    /* کل هدر */

    .header-container {

        direction: ltr;

        width: 100%;

        padding: 10px 12px;

        border-radius: 0 0 18px 18px;

        display: flex;

        flex-wrap: wrap;

        align-items: center;

        gap: 10px;

    }


    /* ردیف اول */

    .logo {

        order: 2;

        flex: 1;

    }


    .logo img {

        width: 90px;

    }



    /* دارک مود */

    .header-actions {

        order: 1;

        display: flex;

    }



    .header-actions .header-btn {

        display: none;

    }



    .theme-btn {

        width: 42px;

        height: 42px;

        padding: 5px;

        border-radius: 12px;

    }



    .theme-btn img {

        width: 20px;

        height: 20px;

    }


    .theme-btn span {

        display: none;

    }



    /* سرچ ردیف دوم */

    .search-container {

        order: 3;

        flex-basis: 100%;

        width: 100%;

        height: 42px;

        border-radius: 22px;

    }



    .search-container input {

        font-size: 12px;

        padding-right: 45px;

    }



    .search-icon {

        right: 15px;

    }



    .search-icon img {

        width: 18px;

    }



}
/* ======================
   BANNER PROGRESS
====================== */


.banner-progress {

    width: 100%;

    height: 4px;

    background: rgba(0, 191, 255, .15);

    margin-top: 12px;

    border-radius: 20px;

    overflow: hidden;

}


.banner-progress span {

    display: block;

    height: 100%;

    width: 0%;

    background: linear-gradient(90deg,
            #00BFFF,
            #0077ff);

    border-radius: 20px;

    transition: width .1s linear;

}
