/* ==========================
   MOBILE HEADER
========================== */


@media(max-width:768px) {


    body {

        padding-top: 130px;

        padding-bottom: 90px;

    }



    /* HEADER */

    .site-header {

        position: fixed;

        top: 0;

        left: 0;

        right: 0;

        z-index: 9999;

        padding: 8px;

    }



    .header-container {

        width: 100%;

        padding: 10px 12px;

        border-radius: 0 0 18px 18px;

        display: flex;

        flex-wrap: wrap;

        direction: ltr;

        align-items: center;

        gap: 10px;

        justify-content: space-between;

    }





    /* =====================
       DARK MODE
    ===================== */


    .header-actions {

        order: 1;

        display: flex;

        align-items: center;

    }



    .header-actions .header-btn {

        display: none;

    }



    .theme-btn {

        width: 42px;

        height: 42px;

        padding: 5px;

        border-radius: 12px;

        display: flex;

        align-items: center;

        justify-content: center;

    }



    .theme-btn img {

        width: 20px;

        height: 20px;

    }



    .theme-btn span {

        display: none;

    }






    /* =====================
       LOGO
    ===================== */


    .logo {

        order: 2;

        flex: 1;

        display: flex;

        justify-content: flex-end;

    }



    .logo img {

        width: 95px;

    }






    /* =====================
       SEARCH
    ===================== */


    .search-container {

        order: 3;

        flex-basis: 100%;

        width: 100%;

        height: 42px;

        border-radius: 22px;

    }



    .search-container input {

        font-size: 12px;

        padding-right: 45px;

        padding-left: 15px;

    }



    .search-icon {

        right: 15px;

    }



    .search-icon img {

        width: 18px;

        height: 18px;

    }



}






/* ==========================
   MOBILE NAV
========================== */


.mobile-nav {

    display: none;

}



@media(max-width:768px) {


    .mobile-nav {


        display: flex;


        position: fixed;


        bottom: 15px;


        left: 15px;


        right: 15px;


        height: 75px;


        background: var(--card);


        border: 1px solid var(--border);


        border-radius: 25px;


        align-items: center;


        justify-content: space-around;


        box-shadow:
            0 10px 30px rgba(0, 0, 0, .15);


        z-index: 9999;


    }



    .mobile-nav-item {


        flex: 1;


        height: 100%;


        display: flex;


        flex-direction: column;


        justify-content: center;


        align-items: center;


        gap: 5px;


        color: #00BFFF;


        position: relative;


        transition: .3s;


    }




    .mobile-nav-item img {


        width: 25px;


        height: 25px;


        filter:
            invert(52%) sepia(95%) saturate(1800%) hue-rotate(165deg) brightness(105%) contrast(105%);


        transition: .3s;


    }




    .mobile-nav-item span {


        font-size: 12px;


        color: #00BFFF;


    }




    /* ACTIVE */


    .mobile-nav-item.active {


        background:

            linear-gradient(135deg,
                rgba(0, 191, 255, .15),
                rgba(0, 119, 255, .15));


        border-radius: 18px;


        margin: 8px;


    }




    .mobile-nav-item.active img {

        transform: translateY(-3px);

    }




    .mobile-nav-item.active span {

        font-weight: bold;

    }




    .mobile-nav-item.active::before {


        content: "";


        position: absolute;


        top: 5px;


        width: 35px;


        height: 3px;


        border-radius: 10px;


        background: #00BFFF;


    }



}
/* ==========================
   MOBILE BANNER BUTTONS
========================== */

@media(max-width:768px) {

    .banner-btn {

        width: 38px;
        height: 38px;

        font-size: 20px;

        /* کمی بیرون‌تر از تصویر */
        background: rgba(255, 255, 255, .95);

    }


    .hero-banner {

        overflow: visible;

    }


    .prev {

        left: -8px;

    }


    .next {

        right: -8px;

    }

}
@media(max-width:768px) {

    .banner-link {
        overflow: hidden;
    }

    .hero-banner {
        width: calc(100% - 50px);
    }

}
/* ==========================
   MOBILE BIGGER BANNER
========================== */

@media(max-width:768px) {

    .hero-banner {

        width: calc(100% - 24px);

        aspect-ratio: 1 / 1.4;

        margin: 20px auto;

    }


    .banner-link {

        border-radius: 20px;

    }

}
@media(max-width:768px) {

    main{
            padding-top: 0px;
    }



}


@media(max-width:768px) {


    .categories-section {

        margin: 40px auto;

    }


    .section-title h2 {

        font-size: 24px;

    }



    .categories-container {


        display: flex;

        overflow-x: auto;

        gap: 15px;

        padding-bottom: 10px;


    }



    .category-card {


        min-width: 150px;

        padding: 25px 15px;


    }



    .category-icon {

        width: 65px;

        height: 65px;

    }


    .category-icon img {

        width: 35px;

    }


}




@media(max-width:768px) {


    .categories-section {

        width: calc(100% - 20px);

        margin: 25px auto;

    }



    .section-title h2 {

        font-size: 20px;

    }



    .categories-scroll {

        gap: 15px;

        padding: 10px 5px;

    }



    .category-card {


        flex: 0 0 120px;


        height: 135px;


        border-radius: 22px;


    }



    .category-icon {

        width: 60px;

        height: 60px;

        border-radius: 18px;

    }



    .category-icon img {

        width: 35px;

    }



    .category-card span {

        font-size: 13px;

    }



    /* موبایل اسکرول دستی */

    .category-arrow {

        display: none;

    }



}


@media(max-width:768px) {


    .categories-grid {


        padding: 15px;


        gap: 15px;


    }



    .category-card {


        flex: 0 0 42%;


        height: 130px;


        border-radius: 20px;


    }



    .category-icon {


        width: 55px;

        height: 55px;


    }



    .category-icon img {


        width: 35px;


    }


    .category-card span {


        font-size: 13px;


    }


}


@media(max-width:768px) {


    .categories-wrapper {

        padding: 0 10px;

    }



    .categories-scroll {

        gap: 15px;

        padding: 15px 5px;

    }



    .category-card {


        flex: 0 0 42%;


        height: 130px;


    }



    .category-arrow {


        display: none;


    }



}

/* ==========================
   CATEGORY BOX RESPONSIVE
========================== */


@media(max-width:1024px) {


    .categories-box {


        width: calc(100% - 30px);


        padding: 20px;


        border-radius: 24px;


    }



    .categories-header h2 {


        font-size: 22px;


    }



    .view-all-btn {


        padding: 9px 18px;


        font-size: 13px;


    }



    .categories-scroll {


        gap: 18px;


    }



    .category-card {


        flex: 0 0 calc((100% - 44px) / 3);


        height: 150px;


    }



}





@media(max-width:768px) {


    .categories-box {


        width: calc(100% - 20px);


        margin: 30px auto;


        padding: 15px;


        border-radius: 22px;


    }




    .categories-header {


        margin-bottom: 15px;

    }




    .categories-header h2 {


        font-size: 20px;

    }




    .view-all-btn {


        padding: 8px 14px;


        border-radius: 14px;


        font-size: 12px;

    }





    .categories-scroll {


        gap: 14px;


        padding: 10px 3px 18px;


    }





    .category-card {


        flex: 0 0 125px;


        height: 135px;


        border-radius: 22px;


        gap: 10px;


    }





    .category-icon {


        width: 60px;


        height: 60px;


        border-radius: 18px;


    }





    .category-icon img {


        width: 35px;


        height: 35px;


    }





    .category-card span {


        font-size: 13px;


    }




    .categories-scroll::-webkit-scrollbar {


        height: 6px;

    }



}





@media(max-width:480px) {



    .categories-box {


        padding: 12px;


        border-radius: 18px;

    }





    .categories-header h2 {


        font-size: 18px;

    }





    .view-all-btn {


        padding: 7px 12px;


        font-size: 11px;


    }





    .category-card {


        flex: 0 0 110px;


        height: 125px;

    }





    .category-icon {


        width: 52px;


        height: 52px;

    }





    .category-icon img {


        width: 30px;


        height: 30px;

    }





}
@media (max-width: 768px) {

    .flash-bg {
        min-height: 280px;
        height: 350px;

        background:
            linear-gradient(to bottom,
                #00a7ff 0%,
                #38b8ff 18%,
                #dff4ff 35%,
                #ffffff 55%,
                #ffffff 100%);
    }

}

/* ==========================
   FLASH PRODUCT CARD - MOBILE
========================== */

@media (max-width: 768px) {

    .flash-product-card {

        flex: 0 0 165px;
        width: 165px;
        

        height: 250px;

        padding: 7px 8px 10px;

        border-radius: 17px ;

        box-shadow:
            0 5px 14px rgba(20, 30, 45, .06),
            0 1px 3px rgba(20, 30, 45, .04);

    }


    /* ==========================
       IMAGE
    ========================== */

    .flash-product-card .product-image {

        flex: 0 0 140px;

        width: 100%;
        height: 140px;

        border-radius: 13px;

    }


    .flash-product-card .product-image img {

        width: 92%;
        height: 92%;

        object-fit: contain;

        object-position: center;

    }


    /* ==========================
       PRODUCT NAME
    ========================== */

    .flash-product-card .product-name {

        margin: 5px 2px 0;

        min-height: 34px;

        font-size: 12px;

        font-weight: 750;

        line-height: 1.45;

        -webkit-line-clamp: 2;

    }


    /* ==========================
       OLD PRICE ROW
    ========================== */

    .flash-product-card .product-old-row {

        margin-top: 1px;

        padding: 0 2px;

        gap: 4px;

    }


    /* قیمت قبلی */

    .flash-product-card .product-old-price {

        font-size: 9px;

        line-height: 1.4;

    }


    /* ==========================
       DISCOUNT
    ========================== */

    .flash-product-card .product-discount {

        padding: 2px 6px;

        border-radius: 6px;

        font-size: 9px;

        line-height: 1.4;

    }


    /* ==========================
       CURRENT PRICE
    ========================== */

    .flash-product-card .product-price {

        margin-top: 1px;

        padding: 0 2px;

        gap: 3px;

    }


    .flash-product-card .product-price strong {

        font-size: 13px;

        line-height: 1.5;

    }


    .flash-product-card .product-price span {

        font-size: 9px;

    }


    /* ==========================
       MOBILE HOVER
    ========================== */

    .flash-product-card:hover {

        transform: none;

        border-color: rgba(20, 30, 45, .08);

        box-shadow:
            0 5px 14px rgba(20, 30, 45, .06),
            0 1px 3px rgba(20, 30, 45, .04);

    }


    /* ==========================
       DARK MODE
    ========================== */

    html.dark .flash-product-card {

        background: #000000;

        border-color: rgba(255, 255, 255, .08);

        box-shadow:
            0 6px 16px rgba(0, 0, 0, .5);

    }


    html.dark .flash-product-card:hover {

        border-color: rgba(255, 255, 255, .08);

        box-shadow:
            0 6px 16px rgba(0, 0, 0, .5);

    }


    html.dark .flash-product-card .product-image {

        background:
            linear-gradient(145deg,
                #090909,
                #000000);

    }


    html.dark .flash-product-card .product-name {

        color: #f4f7fa;

    }


    html.dark .flash-product-card .product-old-price {

        color: #5d646d;

    }


    html.dark .flash-product-card .product-price {

        color: #00bfff;

    }


    html.dark .flash-product-card .product-discount {

        background: #00bfff;

        color: #001018;

    }

}