{% extends "admin_panel/base.html" %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="مدیریت بنرها">
  <title>مدیریت بنرها | پنل ادمین</title>
 
</head>
<body data-root="" data-page="banner" data-title="مدیریت بنرها" data-subtitle="مدیریت و تنظیم بنرهای سایت">
  <main class="page-content" data-app-shell>
  </main>
  
</body>
</html>


{% endblock %}