{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        پنل مدیریت نیوشاپ
    </title>


    <!-- Admin Panel CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/vazirmatn.css' %}">
    
    


</head>


<body>


    <div class="main">


        {% block content %}

        {% endblock %}


    </div>



    <!-- Admin Panel JS -->
    <script src="{% static 'admin/js/app.js' %}"></script>
    <script src="{% static 'admin/js/tailwindcss.js' %}"></script>


</body>

</html>