{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل مدیریت نیوشاپ</title>

    <link rel="stylesheet" href="{% static 'admin/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/vazirmatn.css' %}">
</head>

<!-- در فایل base.html این خط را پیدا کنید و به این شکل تغییر دهید: -->

<body 
    data-root="{% block data_root %}../../{% endblock %}"
    data-page="{% block data_page %}dashboard{% endblock %}"
    data-title="{% block data_title %}داشبورد مدیریت{% endblock %}"
    data-subtitle="{% block data_subtitle %}خلاصه‌ای از عملکرد امروز فروشگاه{% endblock %}"
>



    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'admin/js/app.js' %}"></script>
    <script src="{% static 'admin/js/tailwindcss.js' %}"></script>

    <script>
        // دکمه خروج واقعی (اگه app.js از triggerAdminLogout استفاده می‌کنه)
        window.triggerAdminLogout = function () {
            window.location.href = "{% url 'admin_panel:logout' %}";
        };
    </script>

</body>

</html>