{% extends "admin_panel/base.html" %}
{% load static %}


{% block content %}


<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="مدیریت دسته بندی محصولات">
    <title>دسته بندی محصولات | پنل ادمین</title>


</head>

<body
    data-root="../../"
    data-page="products-categories"
    data-title="دسته بندی محصولات"
    data-subtitle="مدیریت دسته بندی های فروشگاه">

    <main class="page-content" data-app-shell>

        <!-- از اینجا صفحه جدیدت را طراحی کن -->

    </main>

    <script>
        /* JavaScript اختصاصی این صفحه */
    </script>


</body>

</html>

{% endblock %}