/* ==========================
   CSS VARIABLES - LIGHT MODE
========================== */
:root {
    --bg-color: #ffffff;
    --card: #ffffff;
    --text-color: #111827;
    --border: #00BFFF;

    --primary: #00BFFF;
    --primary-dark: #0077ff;
}

/* ==========================
   CSS VARIABLES - DARK MODE
========================== */
html.dark {
    --bg-color: #000000;
    --card: #000000;
    --text-color: #f8fafc;
    --border: #00BFFF;
}
